{
	"$schema": "https://json.schemastore.org/swcrc",
	"sourceMaps": true,
	"module": {
		"type": "commonjs",
		"strict": true
	},
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"decorators": true
		},
		"target": "es2022",
		"keepClassNames": true,
		"transform": {
			"decoratorVersion": "2022-03"
		},
		"externalHelpers": true
	}
}
